{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<title>Address Book</title>
		<style>
			.container {
				max-width: 960px;
				}
		</style>
	</head>
	<body class="bg-light">
		<div class="container">
			<div class="py-5 text-center">
				<h2>Address Book</h2>
				<p class="lead">Example app.</p>
			</div>
			{% block content %}
			{% endblock %}
			<footer class="my-5 pt-5 text-muted text-center text-small">
				<p class="mb-1">&copy; 2020 JR :)</p>
			</footer>
		</body>
	</html>